<p id="notice"><%= notice %></p>
<h2>Estatísticas e Relatórios</h2>

<p>
  <strong>Valor Total de Pgtos a Receber:</strong>
  <%= "R$ #{@total_a_receber}" %>
</p>

<p>
  <strong>Relatório de Valores a Receber</strong>
</p>

<p>
  <strong>Total de Recebimentos Últimos 3 Meses:</strong>
  xxxx
</p>

<p>
  <strong>Relatório de Pagamentos</strong>

<p>
  <strong>Total de Vendas Últimos 3 Meses:</strong>
  xxxx
</p>

<p>
  <strong>Relatório de Vendas</strong>
</p>


</p>

<%= link_to 'Novo Cliente', new_cliente_path %> |
<%= link_to 'Lista de Clientes', clientes_path %> 